:root {
    --white: #fffeff;
    --blue: #0069b6;
    --dark: #1e2235;
    --padding-cell: 0.5rem;
    --padding-cell-match-score: 0.5rem;
    --padding-cell-match-score2: 0.25rem;
    --border-radius-match-score: 4px;
}

body {
    background-color: var(--white);
    font-size: 16px;
    font-family: helvetica;
    margin: 1px;
}

.match {
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 10px;
}

.match-container {
    display: flex;
    align-items: stretch;
}

.match-team {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    padding: var(--padding-cell-match-score);
    gap: 10px;
    font-size: 16px;
    background-color: var(--blue);
}

.match-team-left {
    padding-left: calc(var(--padding-cell-match-score) + 10px);
    border-top-left-radius: var(--border-radius-match-score);
    border-bottom-left-radius: var(--border-radius-match-score);
    border: 2px solid var(--white);
    border-right: none;
}

.match-team-right {
    padding-right: calc(var(--padding-cell-match-score) + 10px);
    border-top-right-radius: var(--border-radius-match-score);
    border-bottom-right-radius: var(--border-radius-match-score);
    border: 2px solid var(--white);
    border-left: none;
}

.match-team-name-label {
    text-transform: uppercase;
    font-size: 16px;
    padding: var(--padding-cell-match-score);
}

.match-team-score {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-weight: 700;
    background-color: var(--blue);
    border: 2px solid var(--white);
    border-left: none;
    border-right: none;
}

.match-team-name-avatar {
    width: 32px;
    height: 32px;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.scoreboard-container {
    padding: 10px;
}

.scoreboard-row {
    display: flex;
    align-items: stretch;
    justify-content: flex-wrap;
    text-transform: uppercase;
    font-weight: 500;
}

.scoreboard-row .cell {
    border: 1px solid var(--dark);
}

.scoreboard-row .cell :not(:last-child) {
    border-right: none;
}

.scoreboard-row:not(:last-child) {
    border-bottom: none;
}

.scoreboard-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--white);
    padding: var(--padding-cell);
}

.scoreboard-name-avatar {
    width: 32px;
    height: 32px;
}

.scoreboard-name-label {
    width: 100px;
    overflow: hidden;
    padding: var(--padding-cell);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.scoreboard-name img {
    margin-right: 10px;
}

.scoreboard-sets {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--dark);
    padding: var(--padding-cell);
    min-width: 32px;
    font-weight: 700;
}

.scoreboard-score {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--dark);
    padding: var(--padding-cell);
    min-width: 32px;
    font-weight: 700;
}

.form {
    padding: 10px;
}

.form-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.player-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.player-form input {
    height: 40px;
}

.match-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 10px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.options-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.options-group label {
    font-size: 16px;
}

.gradient-container {
    background-color: green;
    padding: 20px;
}

.gradient {
    min-width: 200px;
    width: 1000px;
    height: 80px;
    background: linear-gradient(0.75turn, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5), transparent);
}