:root {
    --white: #fffeff;
    --blue: #0069b6;
    --dark: #1c1c28;
    --padding-cell: 0.4rem;
    --border-radius-item: 4px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: green;
    overflow: hidden;
    margin: 0;
}

.matchs-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 0.75rem;
    padding: 16px;
}

.matchs-list-item {
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    border: 2px solid var(--white);
    border-radius: var(--border-radius-item);
}

.matchs-list-item-player-1-name {
    background-color: var(--dark);
    color: var(--white);
    padding: var(--padding-cell);
    border-top-left-radius: var(--border-radius-item);
    border-bottom-left-radius: var(--border-radius-item);
    width: 100%;
    text-align: left;
}

.matchs-list-item-player-2-name {
    background-color: var(--dark);
    color: var(--white);
    padding: var(--padding-cell);
    border-top-right-radius: var(--border-radius-item);
    border-bottom-right-radius: var(--border-radius-item);
    width: 100%;
    text-align: right;
}

.matchs-list-item-player-1-score {
    background-color: var(--white);
    color: var(--dark);
    padding: var(--padding-cell);
}

.matchs-list-item-player-2-score {
    background-color: var(--white);
    color: var(--dark);
    padding: var(--padding-cell);
    border-left: 2px solid var(--white);
}